<div class="container">
	<div class="row">
		<div class="col-md-6 btn btn-outline-warning">
		<!-- My open Requests container -->
			<%= render :file => "sulabh_loan_requests/index.html" %>
		</div>

		<div class="col-md-6 btn btn-outline-success">
		<!-- My open Offers container -->
			<%= render :file => "sulabh_loan_offers/index.html" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 btn btn-outline-danger">
			<!--New Loan Request Form -->
			<% if session['srole'] === "Requestor" %>
				<%= link_to "New Loan Request", new_sulabh_loan_request_path, :class => "btn btn-primary" %>
			<% elsif session['srole'] === "Provider" %>
				<%= link_to "New Offer ", new_sulabh_loan_offer_path, :class => "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>